@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@0,700;1,900&display=swap');

body{
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

h2{
  font-size: 48px;
  color:#650300;
  text-align: center;
  margin-bottom: 60px;
  font-weight: bold;
}

*,*:before,*:after{
  box-sizing:border-box;
}

.header{
  background: #AA0601;
  padding: 30px 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 a{
  background-image:url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png');
  height: 49px;
  width: 80px;
  display: block;
  text-indent: 101%;
  overflow:hidden;
}

.header ul{
  display: flex;
}

.header li{
  font-size: 20px;
}

.header a{
  text-decoration: none;
  color:#fff;
  display: block;
  padding: 16px 32px;
}

.header li a:hover{
    background: #fff;
    color:#650300;
}


.full-pic{
  height: 840px;
  background-image:url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.full-pp{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  justify-content: center;
}

.p-s,.p-l{
  font-family: 'Noto Sans TC', 'sans-serif';
  color:#650300;
  font-weight: bold;
}

.p-s{
  font-size: 36px;
  line-height: 54px;
}

.p-l{
  font-size: 64px;
  line-height: 96px;
}

.service{
  background: #AA06010D;
  padding-top: 64px;
  padding-bottom: 80px;
}

.service ul{
  margin: 0 auto;
  display: flex;
}

.service img{
  width: 100px;
  height: 100px;
  display: block;
  margin-bottom: 39px;
} 

.service li:nth-child(2){
  margin-right: 78px;
  margin-left: 78px;
}

.service li:nth-child(3){
  margin-right: 78px;
}

.service li{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.service h3{
  font-size: 24px;
  margin-bottom: 4px;
  color: #650300;
  font-weight: bold;
}

.service p{
  line-height: 24px;
}

.classic{
  padding-top: 64px;
  padding-bottom: 80px;
}

.classic p{
  font-weight: bold;
  font-size: 48px;
  color: #AA0601;
  margin-left: 30px;
}

.classic img{
  display: block;
  /*width: 635px;/    
  height: 320px;*/
  height: auto;
  max-width: 635px;
}

.classic-content{
  display: flex;
  flex-direction:column;
  align-items: space-between;
}

.optical{
  display: flex;
}

.optical p{
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
}

.sunglasses{
  display: flex;
  flex-direction:row-reverse;  
  margin-top: 32px;
  margin-bottom: 32px;
}

.sunglasses p{
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
}

.sunglasses img{
  margin-left: 30px;
}

.functional{
  display: flex;
}

.functional p{
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
}

.icon-opt{
  display: inline-block;
  margin-right: 8px;
  width: 48px;
  height: 38px;
  background-image:url('https://hexschool.github.io/webLayoutTraining1st/week3/icon-diamond.svg');
}

.icon-sun{
  background-image:url('https://hexschool.github.io/webLayoutTraining1st/week3/icon-sun.svg');
  display: inline-block;
  margin-right: 8px;
  width: 48px;
  height: 48px;
}

.icon-func{
  display: inline-block;
  margin-right: 8px;
  background-image:url('https://hexschool.github.io/webLayoutTraining1st/week3/icon-thunder.svg');
  width: 36px;
  height: 48px;
}

.joint{
  background-image:url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center ;
  height: auto;
  padding-top: 64px;
  padding-bottom: 80px;
}

.joint h2{
  color:#fff;
  margin-bottom: 60px;
}

.joint-content{
  display: flex;
  margin: 0 auto;
}

.double{
  background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=truehttps://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true');
  background-repeat: no-repeat;
  width: 540px;
  height: 472px;
  background-color: rgba(255, 255, 255, 0.5);/*為什麼沒有效果呢*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.double p{
  font-size: 72px;
  color:#AA0601;
  font-family: Roboto;
  font-weight: bold;
}

.youth{
  background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true');
  background-color: rgba(255,255,255,0.5);
  background-repeat: no-repeat;
  background-size: contain;
  width: 540px;
  height: 472px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.youth p{
  font-size: 72px;
  color:#AA0601;
  font-family: Roboto;
  font-weight: bold;
}

.suggest{
  padding-top: 64px;
  padding-bottom: 64px;
}

.suggest h2{
  margin-bottom: 60px;
}

.suggest-content{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.suggest-content li:nth-child(2){
  margin-right: 30px;
  margin-left: 30px;
}

.suggest-content li:nth-child(4){
  margin-left: 30px;
}

.suggest-content img{
  width: 255px;
  height: auto;
  display: block;
  margin-right: -16px;
  margin-left: -16px;
}

.suggest-content li{
  border:1px solid #DEE2E6;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
}

.customer{
  font-size: 14px;
  font-family: Roboto;
  font-style: Medium;
  margin-top: 14px;
  margin-bottom: 7px;
}

.feedback{
  font-family: Roboto;
  font-weight: regular;
  line-height: 24px;
  margin-bottom: 10px;
}

.updated-time{
  font-size: 14px;
  color: #707070;
}

.contact{
  padding-top: 64px;
  padding-bottom: 80px;
  background: #AA06010D;
}

.contact-wrap{
  width: 730px;
  margin: 0 auto;
}

.contact-wrap h2{
  color:#000;
  margin-bottom: 24px;
}

.contact-wrap p{
  font-size: 20px;
  font-weight: Regular;
  margin-bottom: 20px;
  line-height: 30px;
}

.contact-wrap label{
  display: block;
  margin-bottom: 4px;
}

.contact-wrap input{
  margin-bottom: 16px;
  border:1px solid #000;
  width: 100%;
  display: block;
  background: none;
  padding: 14px 16px;
}

.input-opinion{
  height: 136px;
}

.input-opinion::placeholder {
  vertical-align: top;
}

.contact-wrap .input-ckeck{
  width: 24px;
  height: 24px;
  display: inline-block;
} 

.contact .agree-text{
  display: inline-block;
  margin-bottom: 42px;
}

.contact .submit{
  background: #AA0601;
  color:#fff;
  width: 350px;
  height: 54px;
  margin: 0 auto;
}

.footer{
  background: #AA0601;
  padding-top: 36px;
  padding-bottom: 29px;
}

.wrap{
  max-width: 1110px;
  margin: 0 auto;
}

.footer-click{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
}
  
 .footer-menu{
  display: flex;
  margin-bottom: 36px;
  } 

.footer-menu a{
  display: block;
}

.footer-menu li{
  margin-right: 48px;
  padding: 16px 0px;
}

.socialmedia{
  display: flex;
}

.socialmedia li{
  margin-left: 32px;
}

.socialmedia img{
  display: block;
}

.footer-menu a{
  text-decoration: none;
  color:#fff;
  display: block;
}

.footer-menu a:hover{
  background: #fff;
  color:#650300;
}

.phone{
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.phone img{
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-right: 17px;
}

.phone a{
  text-decoration: none;
  color:white;
}

.phone p{
  display: inline;
  font-size: 36px;
}

.email{
  display: flex;
  align-items: center;
}

.email img{
  width: 48px;
  height: 48px;
  margin-right: 12px;
  display: inline-block;
}

.email a{
  text-decoration: none;
  color:#fff;
}

.email p{
  font-size: 36px;
  display: inline;
}

.copyright{
  border-top: 1px solid #fff;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-left{
  display: flex;
  align-items: center;
}

.copyright-left img{
  margin-right: 38px;
  width: 80px;
  height: 49px;
}
.copyright-left p{
  color:#fff;
}

.copyright-right ul{
  display: flex;
}

.copyright-right li{
  color:#fff;
  margin-left: 62px;
}

.copyright-right a{
  text-decoration: none;
  color: #fff;
}

.copyright-right img{
  display: none;
}

