/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@0,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

h2 {
  font-size: 48px;
  color: #650300;
  text-align: center;
  margin-bottom: 60px;
  font-weight: bold;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background: #AA0601;
  padding: 30px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 a {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png");
  height: 49px;
  width: 80px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header li {
  font-size: 20px;
}

.header ul a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 16px 32px;
}

.header li a:hover {
  background: #fff;
  color: #650300;
}

.full-pic {
  height: 840px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.full-pp {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-s, .p-l {
  font-family: 'Noto Sans TC', 'sans-serif';
  color: #650300;
  font-weight: bold;
}

.p-s {
  font-size: 36px;
  line-height: 54px;
}

.p-l {
  font-size: 64px;
  line-height: 96px;
}

.service {
  background: #AA06010D;
  padding-top: 64px;
  padding-bottom: 80px;
}

.service ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service img {
  width: 100px;
  height: 100px;
  display: block;
  margin-bottom: 39px;
}

.service li:nth-child(2) {
  margin-right: 78px;
  margin-left: 78px;
}

.service li:nth-child(3) {
  margin-right: 78px;
}

.service li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service h3 {
  font-size: 24px;
  margin-bottom: 4px;
  color: #650300;
  font-weight: bold;
}

.service p {
  line-height: 24px;
}

.classic {
  padding-top: 64px;
  padding-bottom: 80px;
}

.classic a {
  font-weight: bold;
  font-size: 48px;
  color: #AA0601;
  margin-left: 30px;
  display: block;
  text-decoration: none;
}

.classic img {
  display: block;
  height: auto;
  max-width: 635px;
}

.classic-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.optical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.optical a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
}

.sunglasses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 32px;
  margin-bottom: 32px;
}

.sunglasses p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
}

.sunglasses img {
  margin-left: 30px;
}

.functional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functional p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
}

.icon-opt {
  display: inline-block;
  margin-right: 8px;
  width: 48px;
  height: 38px;
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-diamond.svg");
}

.icon-sun {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-sun.svg");
  display: inline-block;
  margin-right: 8px;
  width: 48px;
  height: 48px;
}

.icon-func {
  display: inline-block;
  margin-right: 8px;
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-thunder.svg");
  width: 36px;
  height: 48px;
}

.joint {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  padding-top: 64px;
  padding-bottom: 80px;
}

.joint h2 {
  color: #fff;
  margin-bottom: 60px;
}

.joint-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.double {
  margin-right: 30px;
  width: 49%;
  height: 472px;
  position: relative;
  background: #fff;
}

.double-img {
  max-width: 100%;
  height: auto;
  display: block;
  opacity: .5;
}

.double a {
  font-size: 72px;
  color: #AA0601;
  font-family: Roboto;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
  background-size: cover;
}

.youth {
  width: 49%;
  height: 472px;
  position: relative;
}

.youth-img {
  width: 100%;
  height: 100%;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true");
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.youth a {
  font-size: 72px;
  color: #AA0601;
  font-family: Roboto;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.suggest {
  padding-top: 64px;
  padding-bottom: 64px;
}

.suggest h2 {
  margin-bottom: 60px;
}

.suggest-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.suggest-content li:nth-child(2) {
  margin-right: 30px;
  margin-left: 30px;
}

.suggest-content li:nth-child(4) {
  margin-left: 30px;
}

.suggest-content img {
  max-width: 100%;
  height: auto;
  display: block;
}

.suggest-content li {
  border: 1px solid #DEE2E6;
  padding-bottom: 15px;
  width: 23%;
}

.suggest-content p {
  padding: 0 25px;
}

.customer {
  font-size: 14px;
  font-family: Roboto;
  font-style: Medium;
  margin-top: 14px;
  margin-bottom: 7px;
}

.feedback {
  font-family: Roboto;
  font-weight: regular;
  line-height: 24px;
  margin-bottom: 10px;
}

.updated-time {
  font-size: 14px;
  color: #707070;
}

.contact {
  padding-top: 64px;
  padding-bottom: 80px;
  background: #AA06010D;
}

.contact-wrap {
  width: 730px;
  margin: 0 auto;
}

.contact-wrap h2 {
  color: #000;
  margin-bottom: 24px;
}

.contact-wrap p {
  font-size: 20px;
  font-weight: Regular;
  margin-bottom: 20px;
  line-height: 30px;
}

.form-text label {
  display: inline-block;
  margin-bottom: 4px;
}

.form-text input {
  margin-bottom: 16px;
  border: 1px solid #000;
  display: inline-block;
  background: none;
  padding: 14px 16px;
  width: 100%;
}

.input-opinion {
  background: none;
  width: 100%;
  height: 136px;
  resize: none;
  margin-bottom: 16px;
  padding: 14px 16px;
}

.form-checkbox {
  margin-bottom: 42px;
}

.input-check {
  border: 1px solid #000;
  background: none;
  cursor: pointer;
}

.agree-text {
  display: inline-block;
}

.submit {
  background: #AA0601;
  color: #fff;
  width: 350px;
  height: 54px;
  margin: 0 auto;
  display: block;
  border: none;
  cursor: pointer;
}

.footer {
  background: #AA0601;
  padding-top: 36px;
  padding-bottom: 29px;
}

.wrap {
  width: 1110px;
  margin: 0 auto;
}

.footer-click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 20px;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}

.footer-menu a {
  display: block;
}

.footer-menu li {
  margin-right: 48px;
  padding: 16px 0px;
}

.socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialmedia li {
  margin-left: 32px;
}

.socialmedia img {
  display: block;
}

.footer-menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 20px;
}

.footer-menu a:hover {
  background: #fff;
  color: #650300;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 17px;
}

.phone img {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-right: 17px;
}

.phone a {
  text-decoration: none;
  color: white;
  display: inline;
  font-size: 36px;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email img {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  display: inline-block;
}

.email a {
  text-decoration: none;
  color: #fff;
  font-size: 36px;
  display: inline;
}

.copyright {
  border-top: 1px solid #fff;
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright-left img {
  margin-right: 38px;
  width: 80px;
  height: 49px;
}

.copyright-left p {
  color: #fff;
}

.copyright-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright-right li {
  color: #fff;
  margin-left: 62px;
}

.copyright-right a {
  text-decoration: none;
  color: #fff;
}

.copyright-right img {
  display: none;
}

body {
  font-family: 'Noto Sans TC','Roboto', sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background: #AA0601;
  padding: 30px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 a {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png");
  height: 49px;
  width: 80px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header li {
  font-size: 20px;
}

.header ul a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 16px 32px;
}

.header li a:hover {
  background: #fff;
  color: #650300;
}

.series-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.series-menu p {
  font-size: 42px;
  font-family: Roboto;
  margin-left: 8px;
  display: inline-block;
}

.series-menu li {
  max-width: 33%;
  border: 1px solid #DCDCDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.diamond {
  width: 48px;
  height: 38px;
}

.sun {
  width: 48px;
  height: 48px;
}

.lightning {
  width: 36px;
  height: 48px;
}

.series-menu a {
  text-decoration: none;
  color: #000;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.series-menu li {
  border-bottom: 15px solid transparent;
}

.series-menu li:hover {
  border-bottom: 15px solid #AA0601;
}

.glasses-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.glasses-scene {
  display: block;
  max-width: 48%;
  height: auto;
}

.glasses-people {
  display: block;
  max-width: 48%;
  height: auto;
}

.optical-glasses {
  padding-top: 88px;
  padding-bottom: 156px;
}

.cellu-en {
  font-size: 42px;
  font-family: Roboto;
  text-align: center;
  line-height: 63px;
}

.cellu-tc {
  font-size: 32px;
  text-align: center;
  line-height: 43px;
  margin-bottom: 40px;
}

.series-cellu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.series-cellu li {
  margin-bottom: 104px;
  width: 23%;
  height: auto;
}

.series-cellu img {
  width: 100%;
  display: block;
}

.glasses-brief {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.model {
  font-size: 24px;
  font-family: Roboto;
  line-height: 36px;
}

.price {
  font-size: 24px;
  font-family: Roboto;
  color: #AA0601;
  line-height: 36px;
}

.dark-color {
  border-radius: 4px;
  display: inline-block;
  margin-right: 8px;
  background-color: #5F3E2D;
  width: 24px;
  height: 24px;
}

.light-color {
  border-radius: 4px;
  display: inline-block;
  background-color: #B75929;
  width: 24px;
  height: 24px;
}

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-nav li {
  border: 1px solid #555555;
  font-family: Roboto;
}

.page-nav a {
  color: #555555;
  text-decoration: none;
  display: block;
  padding: 10px 12px;
}

last-page, next-page {
  font-family: 'Noto Sans TC';
}

.next-page {
  background: #F2F2F2;
}

.page-nav a:hover {
  background: #000000;
  color: white;
}

.footer {
  background: #AA0601;
  padding-top: 36px;
  padding-bottom: 29px;
}

.wrap {
  width: 1110px;
  margin: 0 auto;
}

.footer-click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 20px;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}

.footer-menu a {
  display: block;
}

.footer-menu li {
  margin-right: 48px;
  padding: 16px 0px;
}

.socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialmedia li {
  margin-left: 32px;
}

.socialmedia img {
  display: block;
}

.footer-menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 20px;
}

.footer-menu a:hover {
  background: #fff;
  color: #650300;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 17px;
}

.phone img {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-right: 17px;
}

.phone a {
  text-decoration: none;
  color: white;
  display: inline;
  font-size: 36px;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email img {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  display: inline-block;
}

.email a {
  text-decoration: none;
  color: #fff;
  font-size: 36px;
  display: inline;
}

.copyright {
  border-top: 1px solid #fff;
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright-left img {
  margin-right: 38px;
  width: 80px;
  height: 49px;
}

.copyright-left p {
  color: #fff;
}

.copyright-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright-right li {
  color: #fff;
  margin-left: 62px;
}

.copyright-right a {
  text-decoration: none;
  color: #fff;
}

.copyright-right img {
  display: none;
}
/*# sourceMappingURL=all.css.map */